<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
      <div class="form-group">
        <label for="search">
          <b>File name:</b>
        </label>
        <input type="text" [(ngModel)]="search.name"
               class="form-control"
               id="search"
               name="search"
               placeholder="Enter your text for searching"><br>
        <label for="fileMove">
          <b>Where do you move your files?</b>
        </label>
        <div *ngFor="let file of fileMove">
          <p><input
            name="fileMove"
            id="fileMove"
            type="radio"
            value="{{file.value}}"
            [checked]="true"
            [(ngModel)]="search.move"/>{{file.name}}
          </p>
        </div>
        <label>
          <b>Path to credential for google drive:</b>
        </label>
        <div>
          <p><input type="file" name="f" [(ngModel)]="search.credential">
        </div>

        <label for="options">
          <b>What will we do with letter in your email?</b>
        </label>
        <div *ngFor="let option of options">
          <p><input
            name="options"
            id="options"
            type="radio"
            value="{{option.value}}"
            [checked]="true"
            [(ngModel)]="search.checked"/>{{option.name}}
          </p>
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>
</div>


